body{
    font-family: Inter;
    background-image: url(../assets/images/bgImages/snow.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(20, 20, 20);
}

.pg-title{
    font-size: 48px;
    color: #81F499;
    margin-top: 28px;
    margin-left: 10px;
}

.favorites-link{
    font-size: 24px;
    color: #0A1128;
    padding-top: 20px;
}

.favorites-plus-symbol{
    font-size: 36px;
    color: #0A1128;
}

.organzie-favorites{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.currently-title{
    font-size: 36px;
    color: white;
    line-height: 44px;
}

.current-temp{
    font-size: 128px;
    color: white;
    line-height: 155px;
}

.current-temp-f{
    font-size: 24px;
    color: white;
    padding-top: 20px;
}

.add-fav-btn{
    height: 44px;
    width: 355px;
    background-color: #0A1128;
    border-radius: 15px;
    font-size: 24px;
    color: white;
    line-height: 29px;
}

.current-location{
    font-size: 48px;
    font-weight: 400;
    line-height: 58px;
    color: white;
}

.current-time-weather{
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    color: white;
}

.weather-icons{
    height: 50px;
    width: 50px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.search-field{
    background-color: rgba(0, 0, 0, 0);
    width: 229px;
    border-radius: 0;
    font-size: 16px;
    color: #0A1128;
    line-height: 19px;
    border-bottom: 1px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: #0A1128;
    border-style: solid;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #0A1128;
}

.forecast-header{
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    color: #0A1128;
}

.five-day-weekday-title{
    font-size: 16px;
    line-height: 19px;
    color: #0A1128;
}

.five-day-high-low{
    font-size: 12px;
    line-height: 15px;
    color: #0A1128;
}

.five-day-item-spacing{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.current-forecast{
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    color: white;
    margin-top: 7px;
    margin-bottom: 8px;
}

.today-forecast-temp{
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 58px;
    color: white;
}

.today-forecast-temp-f{
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    color: white;
    padding-top: 5px;
}

.todayForecastDescription{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    color: white;
}

.today-forecast-icon-spacing{
    display: flex;
    flex-direction: row;
    justify-content: center;
}